@import "fonts.scss";
@import "variables.scss";

:root {
    // Colors
    --black: #000000;
    --white: #ffffff;
    --magenta: #e50097;
    --light-blue: #00a3e0;
    --light-blue-2: #00a0df;
    --light-blue-3: #00D4D4;
    --purple: #5E66F9;
    --blue: #00044C;
    --grey: #6D7883;


    // General
    --content-width: 1160px;
    --content-padding: 1em;

    // Layout
    --menu-height: 4em;
    --footer-height: 9em;

    // Breakpoints
    --tablet-breakpoint: 768px;
    --mobile-breakpoint: 360px;
}

.b-black {
    background-color: var(--black);
}

.b-blue {
    background-color: var(--blue);
}

.b-light-blue-2 {
    background-color: var(--light-blue-2);
}

.b-magenta {
    background-color: var(--magenta);
}

.c-light-blue-2 {
    color: var(--light-blue-2);
}

.c-white {
    color: var(--white);
}

.c-grey {
    color: var(--grey);
}

.border-margenta {
    border-color: var(--magenta);
}

.border-light-blue-3 {
    border-color: var(--light-blue-3);
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-30 {
    width: 33.33%;
}

a.remove-default {
    text-decoration: none;
    color: inherit;

    &:hover {
        cursor: default;
    }
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

#app {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 16px;
    color: var(--black);
}

.container {
    width: var(--content-width);
    padding: 0 var(--content-padding);
    max-width: 100vw;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

